package ${package.Service}.impl

import org.springframework.stereotype.Service;
import ${package.Service}.${table.serviceName}
import org.jooq.DSLContext

/**
 * @author xkl
 * @since 2026-02-12
 */
@Service
class ${table.serviceImplName}(
    private val dsl: DSLContext
): ${table.serviceName} {

}
